.flex{
    display: flex;
}
nav{
    background: linear-gradient(blue,darkblue);
}
.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu > li > a{
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
    border-right: 1px solid wheat;
}
.menu > li > a:hover{
    background-color: white;
    color: blue;
}
.menu > li:last-child{
    margin-left: auto;
}
.products > .product{
    width: 25%;
    position: relative;
    text-align: center;
    background: linear-gradient(blue,darkblue);
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}
.product > img{
    width: 100%;
}
.products{
    gap:10px;
}
.price{
    position: absolute;
    top:0;
    left: 0;
    color: black;
    border-radius: 10px 0;
    background-color: rgb(237, 250, 165);
    font-weight: 500;
}
/* section */
.detail{
    width: 70%;
    margin: auto;
}
.detail > div{
    flex:1;

}
.thumb img{
    width: 100%;
}
.thumb{
    height: 20%;
}
.left > img{
    width: 100%;
}
.thumb div{
    flex:1;

}
.red{
    color: red;
}
.gift{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    
}
.gift + .gift{
    border: 1px solid red;
}
.buttons button {
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 1px solid black;
}

/* footer */
footer{
    padding: 40px;
    background: linear-gradient(blue,lightskyblue);
    color: white;
}

